/* src/components/Resume.css */
.resume-section {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to right, #9389a7, #09e1cc);
  /* background-color: #276db2c5; */
}

.resume-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #38bdf8;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.resume-button:hover {
  background-color: #0ea5e9;
}
